.flash {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

.flash.success {
  background-color: green;
}

.flash.alert {
  background-color: red;
}

.flash.notice {
  background-color: lightblue;
}
